.todosLogo{
    font-size: 100px;
    color: pink;
}

.InputTag{
    padding: 15px;
    border: 0;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 25%;
    box-shadow: 3px 4px 4px black;
}


  table{
      text-align: center;
      font-size:  45px;
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }

  tfoot{
    font-size: 15px;
    }
.LastNameCode{
   font-style: italic ;
   color: thistle;
    
}
  
.HiddenData{
  font-style: italic;
  color:  maroon;
}